*{
    margin: 0;
    padding: 0;

    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
.top{
    background: linear-gradient(45deg, orange, red, purple);
    text-align: center;
    width: 100%;
    height: 5px;
}

.nav-mob ul{
    display: none;
    margin-left: 65px;
    margin-top: 5px;
}
.nav-mob ul li{
    list-style-type: none;
    margin-left: 13px;
}
.nav-mob ul li a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 10px;
}
@media(max-width:700px){
    .nav-mob ul{
        display: flex;
    }
}
.nav-bar{
    display: flex;
}
.nav-bar i{
    margin-top: 1%;
    cursor: pointer;
    margin-left: 3%;
}
.nav-bar p{
    margin-top: 2%;
    font-size: larger;
   
    cursor: pointer;
}

.nav-bar p a{
    color: black;
    text-decoration: none;
}
.nav-bar ul{
    margin-top: 2%;
    display: flex;
    margin-left: 40%;
}
.nav-bar ul li{
    margin-top: 2%;
    list-style-type: none;
    margin-left: 7%;
    font-size: large;
    
    font-weight: bold;
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
}
.nav-bar a:hover{
    color: gray;
}
@media(max-width:700px){
    .nav-bar{
        display: none;
    }
}
hr{
    margin-top: 2%;
}
.section{
    display: flex;
    }
.section i{
    margin-top: 2%;
    margin-left: 3%;
    cursor: pointer;
}
@media(max-width:700px){
    .section i{
        margin-top: 2%;
        margin-left: 25px;
        cursor: pointer;
    }
}

.search {
    width: 800px;
    height: 55px;
    border: 1px solid lightgray;
    margin-left: 15px;
    margin-top: 30px;
    background-color: lightgrey;
}
@media(max-width:700px){
    .search {
        display: none;
    }
}
.search input{
    display: none;
}
.search i{
    margin-top: 20px;
    cursor: pointer;
}

.main{
    border: 2px solid black;
    background-color: black;
    width: 100px;
    height: 53px;
    margin-top: 30px;
}
.main p{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
@media(max-width:700px){
    .main{
        display: none;
    }
}
.main1{
    border: 1px solid black;
    width: 100px;
    height: 53px;
    margin-top: 30px;
    margin-left: 35px;
    cursor: pointer;
}
.main1 p{
    color: black;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.main1 p:hover{
    color: lightgray;
}
@media(max-width:700px){
    .main1{
    border: 1px solid black;
    width: 60px;
    height: 30px;
    margin-top: 25px;
    margin-left: 140px;
    cursor: pointer;
    }
}
@media(max-width:700px){
    .main1 p{
        color: black;
        text-align: center;
        margin-top: 10px;
        font-weight: lighter;
    }
}
.main2{
   cursor: pointer;
    margin-left: 35px;
    width: 100px;
    height: 53px;
    margin-top: 30px;
}
.main2 p{
    color: black;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.main2 p:hover{
    color: lightgray;
}
@media(max-width:700px){
    .main2{
    
    width: 70px;
    height: 30px;
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
    }
}
@media(max-width:700px){
    .main2 p{
        color: black;
        text-align: center;
        margin-top: 10px;
        font-weight: lighter;
    }
}
.mob-search{
    display: none;
}
.mob-main{
    display: none;
}
@media(max-width:700px){
    .mob-search{
        display: flex;
        width: 330px;
        height: 30px;
        border: 1px solid lightgray;
        margin-left: 20px;
        margin-top: 30px;
        background-color: lightgrey;
    }
}
@media(max-width:700px){
    .mob-search input{
        display: none;
    }
}
@media(max-width:700px){
    .mob-search i{
        margin-top: 8px;
        margin-left: 5px;
    }
}


.container{
    background-image: url('bg.jpg');
    background-size:100%;
    background-repeat: no-repeat;
   margin-top: 20px;
    text-align: center;
    padding: 5% 30%;
    color: white;
    
}
@media(max-width:700px){
    .container{
        background-image: url('bg.jpg');
        background-size:100%;
      background-repeat: no-repeat;
        margin-top: 20px;
        text-align: center;
        padding: 5% 10%;
        color: white;
        height: 200px;
        width:300px;
    }
}
.container h1{
    font-size: 60px;
    }
@media(max-width:700px){
    .container h1{
        font-size: 10px;
       margin-left: 5px;
    }
}
.container p{
    font-size: 20px;
    padding: 0px 30px;
    margin: 40px 0px;
}

@media(max-width:700px){
     .container p{
        font-size: 5px;
        width: 200px;
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
.container h2{
    font-size: 40px;
}
@media(max-width:700px){
    .container h2{
        font-size: 10px;
       margin-left: 80px;
        width: 150px;
    }
}
#btn1{
    width: 230px;
    height: 50px;
    background-color: rgb(223, 223, 7);
    box-shadow: 4px 4px rgb(173, 83, 9);
    padding: 5px 10px;
    border: 2px solid rgb(223, 223, 7);
    border-radius: 50px;
    font-size: 15px;
    font-weight: bolder;
    cursor:pointer;
}
@media(max-width:700px){
    #btn1{
        width: 147px;
        height: 20px;
        background-color: rgb(223, 223, 7);
        box-shadow: 2px 2px black;
        padding: 2px 10px;
        border: 2px solid rgb(223, 223, 7);
        border-radius: 50px;
        font-size: 10px;
        font-weight: bolder;
        cursor:pointer;
        margin-bottom: 10px;
        
    }
}
#btn2{
    width: 230px;
    height: 50px;
    margin-left: 30px;
    background-color: rgb(245, 145, 31);
    padding: 5px 10px;
    border: 2px solid rgb(245, 145, 31);
    border-radius: 50px;
    font-size: 15px;
    font-weight: bolder;
    cursor:pointer;
}
@media(max-width:700px){
    #btn2{
        box-shadow: 2px 2px black;
        width: 147px;
        height: 20px;
       margin-left: 5px;
        background-color: rgb(248, 81, 15);
        padding: 2px 10px;
        border: 2px solid white;
        border-radius: 50px;
        font-size: 10px;
        font-weight: bolder;
        cursor:pointer;
    }
}
.container1{
     margin-top: 3%;
     margin-bottom: 3%;
}
.container1 img{
    margin-left: 600px;
}
@media(max-width:700px){
.container1 img{
    width: 100px;
    margin-left: 140px;
}
}
.container1 h2{
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 40px;
    width: 500px;
    margin-left: 420px;
    text-align: center;
}
@media(max-width:700px){
    .container1 h2{
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 20px;
        width: 250px;
       margin-left: 60px;
       text-align: center;
    }
}

.container1 p{
    margin-left: 30%;
    width: 40%;
    font-size: 20px;
    margin-bottom: 6%;
    text-align: center;
}
@media(max-width:700px){
    .container1 p{
        margin-left: 60px;
        width: 250px;
        font-size: 10px;
        margin-bottom: 6%;
        text-align: center;
    }
}
.container2 {
    background-image:url('bg1.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    height: 350px;
}
@media(max-width:700px){
    .container2 {
        background-image:url('bg1.jpg');
        background-size:100%;
        background-repeat: no-repeat;
       
        width: 100%;
        height: 200px;
        color: white;
    }
}
.container2 h2{
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 40px;
    margin-left: 480px;
}
@media(max-width:700px){
    .container2 h2{
        padding-top: 50px;
        padding-bottom: 10px;
      margin-left: 90px;
        font-size: 20px;
    }
}
.container2 p{
width: 40%;
font-size: 20px;
margin-left: 30%;
text-align: center;
}
@media(max-width:700px){
    .container2 p{
        width: 200px;
        font-size: 10px;
        margin-top: 10px;
        margin-left: 80px;
        text-align: center;
        }
}
.container3{
    margin-top: 3%;
   margin-bottom: 3%;
    
}
@media(max-width:700px){
    .container3{
        margin-top: 20px;
       margin-bottom: 10px;
        
    }
}
.container3 h1{
    width: 450px;
    margin-left: 450px;
    text-align: center;
}
@media(max-width:700px){
    .container3 h1{
        width: 250px;
        margin-left: 60px;
        text-align: center;
        font-size: 20px;
    }
}
#line1{
    margin-top: 6%;
    margin-bottom: 6%;
}
.footer{
    display: flex;
    margin-bottom: 6%;
}
@media(max-width:700px){
    .footer{
        display: block;
    }
}
.footer ul{
    text-align: left;
    margin-left: 200px;
}
@media(max-width:700px){
    .footer ul{
        margin-left: 10px;
    }
}
.footer ul li{
    padding-top: 30px;
}
.heading{
    color: black;
    font-size: 20px;
}
.content{
    color: grey;
    font-size: 20px;
    
}
.footer ul li{
list-style-type: none;
}
.footer a{
text-decoration: none;

}
.icons {
    margin-top: 50px;
    margin-left: 50px;
    width: 50px;
}
@media(max-width:700px){
    .icons {
        margin-top: 50px;
        margin-left: 10px;
        width: 50px;
    }
}
.icons img{
    width: 50px;
    border-radius: 10px;
}
@media(max-width:700px){
    .icons img{
        width: 50px;
        border-radius: 10px;
    }
}